<article>
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>{{created_at}}</p>

    <a href="/blog/post/update/{{_id}}">Update post</a>
    <a href="/blog/post/delete/{{_id}}">Delete</a>
</article>
